<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.sc.love.product.mapper.SkuSaleAttrValueMapper">

    <resultMap id="SkuSaleAttrValueMapper" type="map" autoMapping="true"></resultMap>
    <select id="getSkuValueIdsMap" resultMap="SkuSaleAttrValueMapper">
        <!--        #根据spuid获取销售属性id和skuid的对应关系，达成效果：-->
        <!--        3728 | 3730 21-->
        <!--        3728 | 3731 22-->
        <!--        3729 | 3730 23-->
        <!--        3729 | 3731 24-->
        <!--        将grop BY 产生的同一个分组中的值连接起来，返回一个字符串结果-->
        <!--        参数1：需要连接的字段-->
        <!--        参数2：排序字段-->
        <!--        参数3：连接符separator 上一步已经按销售属性id排序， < #问题：当前表没有销售属性id-->
        <!--        #解决思路，看看那张表中有 base_sale_attr_id,与他建立关系，并且和当前表能够关联-->
        SELECT
        GROUP_CONCAT(
        skav.sale_attr_value_id
        ORDER BY ssav.base_sale_attr_id ASC SEPARATOR "|"
        ) value_ids,
        sku_id
        FROM
        `sku_sale_attr_value` skav
        INNER JOIN spu_sale_attr_value ssav
        ON skav.sale_attr_value_id = ssav.id
        WHERE skav.spu_id = ${spuId}
        GROUP BY skav.`sku_id`
    </select>
</mapper>